@using novelSiteLayout.Models 
@model List<novelSiteLayout.Models.Admin>

                    
        <br /><br /><br /><br />
       <h1 style =" color:red">Welcome to Admin Pannel :)</h1>
        
                   
               
