@using novelSiteLayout.Models 
@model List<novelSiteLayout.Models.novel>

    <br /><br />
<h1>Searching</h1>

Novel Name : <input type ="text" name ="nvlName" id ="nvlNAme" placeholder ="Novel Name" style="margin-left:20px;margin-bottom:10px" /><br />
Author Name : <input type ="text" name ="authorName" id ="authrName" placeholder ="Author Name" style="margin-left:20px;margin-bottom:10px" /><br />
<input type ="Button" id ="search" value ="Search" style ="text-align:left;margin-left:80px;margin-bottom:10px" />
    

<script>
    $("#search").click(function () {
        var nvlName = $("#nvlNAme").val();
        var authrName = $("#authrName").val();
        $.getJSON("/Client/search?nvlName=" + nvlName + "&authrName=" + authrName).done(function(data){
            $('table').empty();
            $('#table').append('<thead> <tr> <td style ="padding:6px"> Novel Name</td > <td style ="padding:6px">Author NAme</td><td style ="padding:6px">Category</td>  </tr> </thead> <tbody>');
            for (var i = 0; i < data.length; i++) {
                $('#table').append('<tr> <td style ="padding:6px">' + data[i].novelName + '</td>        <td style ="padding:6px">' + data[i].authorName + '</td> <td style ="padding:6px">' + data[i].category + '</td> </tr>');
            }
            $('#table').append('</tbody>');
        }).fail(function (jqxhr, textStatus, error) {
            alert('Error =' + error);
        })
    });
</script>


<div id ="SearchTable">
    <table id ="table">

    </table>
</div>