
                    <br />
                    <h1>Description</h1>
                    <p>
                        A novel is a long narrative, normally in prose, which describes fictional characters and events, usually 
                        in the form of a sequential story. While Ian Watt in The Rise of the Novel (1957) suggests that the novel 
                        came into being in the early 18th century, the genre has also been described as "a continuous and 
                        comprehensive history of about two thousand years", with historical roots in Classical Greece and Rome,
                         medieval, early modern romance, and in the tradition of the novella. The latter, an Italian word used to 
                        describe short stories, supplied the present generic English term in the 18th century. Miguel de Cervantes,
                         author of Don Quixote, is frequently cited as the first significant European novelist of the modern era; the first part of Don Quixote was published in 1605. 
                    </p>
                