


                    <h2>Update Novel</h2><br />
                    <br />
                    <form method ="post" action ="/Admin/getData">
                    Enter the name of Novel : <input type ="text" placeholder ="Novel Name" name ="novelName" style ="margin-bottom:6px"/><br />
                   
                    <div style ="text-align:center">
                        <input type ="submit" value ="Get Data" id ="remove" style ="min-height:25px;min-width:100px" />
                    </div>
                        </form>
                
